/* Start Global Rules  */
:root {
  --main-color: #2196f3;
  --white-color: #fafafa;
  --dark-color: #3d4449;
  --red-color: #f56a6a;
  --gray-color: #7f888f;
  --main-transition: 0.3s;
  --padding-top: 80px;
  --padding-bottom: 80px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*small screen*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*medium screen*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*large screen*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules  */

/* Start Header  */
.header {
  height: 75px;
  background-color: var(--main-color);
  position: relative;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.3);
}
.header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  width: 150px;
}
.header .logo img {
  width: 100%;
}
.header .links {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header .links {
    position: absolute;
    left: 0;
    flex-direction: column;
    background-color: var(--main-color);
    width: 100%;
    transition: var(--main-transition);
    z-index: -1;
    top: -140px;
  }
  .open-links {
    top: 100% !important;
  }
}
.header .links li {
  margin-left: 30px;
  padding: 10px 5px;
}
.header .links li a {
  transition: var(--main-transition);
}
.header .links li.active a,
.header .links li:hover a {
  color: var(--dark-color);
  border-bottom: 1px solid var(--dark-color);
}
.header .links li a {
  color: var(--white-color);
  font-size: 20px;
}
.header .cart {
  font-size: 22px;
  color: white;
  transition: var(--main-transition);
}
.header .cart:hover {
  transform: scale(1.3);
}
.header .bars {
  font-size: 25px;
  border: 2px solid black;
  padding: 5px;
  cursor: pointer;
  transition: var(--main-transition);
}
.header .bars:hover {
  transform: scale(1.1);
}
@media (min-width: 767px) {
  .header .bars {
    display: none;
  }
}
/* End Header  */

/* Start Landing Page  */
.landing-page {
  min-height: calc(100vh - 75px);
  background-color: var(--main-color);
  position: relative;
}
.landing-page .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing-page .container .content {
  width: 50%;
}
.landing-page .content p:first-child {
  color: var(--white-color);
  font-size: 30px;
}
.landing-page .content h1 {
  font-size: 60px;
}
.landing-page .content h1 span {
  color: var(--white-color);
}
.landing-page .content p:not(:last-child) {
  color: var(--dark-color);
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 40px;
  word-spacing: -2px;
}
.landing-page .content .shop-now {
  padding: 10px 15px;
  background-color: var(--red-color);
  color: var(--white-color);
  border-radius: 12px;
  transition: var(--main-transition);
  font-size: 18px;
  display: block;
  width: fit-content;
}
.landing-page .content .shop-now:hover {
  background-color: #e75b5b;
  transform: scale(1.1);
}
.landing-page image {
  width: 50%;
}
.landing-page .image img {
  width: 180px;
}
/* End Landing Page  */

/* Start Our Features  */
.features {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
.features .container {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.features .container .box {
  width: 150px;
  text-align: center;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.3);
  transition: var(--main-transition);
}
.features .container .box:hover {
  transform: translateY(-8px);
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.5);
}
.features .container .box img {
  width: 100%;
  transition: var(--main-transition);
}
.features .container .box:hover img {
  transform: scale(1.1) rotate(8deg);
}
.features .container .box p {
  color: var(--dark-color);
  margin: 15px auto;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 12px;
  font-weight: bold;
}
.features .container .box:first-child p {
  background-color: var(--red-color);
}
.features .container .box:nth-child(2) p {
  background-color: rgb(187, 223, 187);
}
.features .container .box:nth-child(3) p {
  background-color: rgb(189, 238, 231);
}
.features .container .box:nth-child(4) p {
  background-color: rgb(189, 238, 231);
}
.features .container .box:nth-child(5) p {
  background-color: rgb(230, 218, 218);
}
.features .container .box:last-child p {
  background-color: var(--red-color);
}
/* End Our Features  */

/* Start Products  */
.products,
.new {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  text-align: center;
}
.title {
  line-height: 0.1;
}
.title h1 {
  color: var(--dark-color);
  letter-spacing: -1px;
}
.title p {
  color: var(--gray-color);
  letter-spacing: 2px;
}
.products .container,
.new .container {
  margin-top: 50px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.products .container .product,
.new .container .product {
  width: 250px;
  padding: 5px;
  border-radius: 12px;
  cursor: pointer;
  transition: var(--main-transition);
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
}
.products .container .product:hover,
.new .container .product:hover {
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.3);
  transform: translateY(-5px);
}
.products .container .product img,
.new .container .product img {
  width: 100%;
  border-radius: 12px;
  transition: var(--main-transition);
}
.products .container .product:hover img,
.new .container .product:hover img {
  transform: scale(1.1) rotate(5deg);
}
.products .container .product span:first-child,
.new .container .product span:first-child {
  display: block;
  margin-top: 15px;
  color: var(--gray-color);
  margin-bottom: 5px;
}
.products .container .product h3,
.new .container .product h3 {
  color: var(--dark-color);
  margin-bottom: 5px;
}
.products .container .product .stars svg,
.new .container .product .stars svg {
  color: gold;
}
.products .container .product .price,
.new .container .product .price {
  display: block;
  margin-top: 5px;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -1px;
  color: green;
}
.products .container .product .cart,
.new .container .product .cart {
  position: absolute;
  bottom: 15px;
  right: 20px;
  border-radius: 50%;
  background-color: rgba(49, 179, 70, 0.329);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  transition: var(--main-transition);
}
.products .container .product .cart svg,
.new .container .product .cart svg {
  color: green;
}
.products .container .product:hover .cart,
.new .container .product:hover .cart {
  animation: cart 1s linear;
}
/* End Products  */

/* Start Discount */
.discount {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  background-image: url(../img/banner/b2.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.discount .container {
  text-align: center;
  color: var(--white-color);
}
.discount .container p {
  font-weight: bold;
}
.discount .container h1 span {
  color: var(--red-color);
}
.discount .container .explore {
  background-color: var(--white-color);
  color: var(--dark-color);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  transition: var(--main-transition);
  font-size: 20px;
  cursor: pointer;
}
.discount .container .explore:hover {
  transform: scale(1.1);
}
/* End Discount */

/* Start Banner */
.banner {
  padding-top: var(--padding-top);
  padding-bottom: 20px;
}
.banner .box-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  color: var(--white-color);
}
@media (max-width: 767px) {
  .banner .box-one {
    flex-direction: column;
    margin-bottom: 245px;
  }
}
.banner .box-one .box {
  background-size: cover;
  width: 48%;
  height: 100%;
  padding-left: 30px;
  padding-top: 50px;
}
@media (max-width: 767px) {
  .banner .box-one .box {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.banner .box-one .box:first-child {
  background-image: url(../img/banner/b17.jpg);
}
.banner .box-one .box:last-child {
  background-image: url(../img/banner/b10.jpg);
}
.banner .box-one .box p:first-child {
  color: var(--gray-color);
  font-size: 19px;
}
.banner .box-one .box h1 {
  text-transform: lowercase;
}
.banner .box-one .box h1 + p {
  font-size: 15px;
  margin-bottom: 25px;
}
.banner .box-one .box button {
  padding: 10px 20px;
  color: white;
  background-color: transparent;
  border: 1px solid var(--white-color);
  transition: var(--main-transition);
  cursor: pointer;
}
.banner .box-one .box:hover button {
  background-color: rgb(15, 56, 15);
  border: none;
}
.banner .box-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 200px;
  margin-top: 30px;
  text-align: center;
  color: var(--white-color);
}
@media (max-width: 767px) {
  .banner .box-two {
    flex-direction: column;
  }
}
.banner .box-two .box {
  background-size: cover;
  height: 200px;
  width: 31%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 767px) {
  .banner .box-two .box {
    width: 100%;
    margin-bottom: 20px;
  }
}
.banner .box-two .box:first-child {
  background-image: url(../img/banner/b18.jpg);
}
.banner .box-two .box:nth-child(2) {
  background-image: url(../img/banner/b4.jpg);
}
.banner .box-two .box:last-child {
  background-image: url(../img/banner/b7.jpg);
}
.banner .box-two .box h1 {
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .banner .box-two .box h1 {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .banner .box-two .box h1 {
    font-size: 40px;
  }
}
.banner .box-two .box p {
  color: red;
  font-size: 22px;
  font-weight: bold;
}
@media (max-width: 991px) {
  .banner .box-two .box p {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .banner .box-two .box p {
    font-size: 35px;
  }
}
/* End Banner */

/* Start Sign Up  */
.sign-up {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(../img/banner/b14.png);
  background-size: cover;
  background-color: rgb(80, 80, 173);
  color: var(--white-color);
}
.sign-up .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .sign-up .container {
    flex-direction: column;
    text-align: center;
  }
}
.sign-up .text {
  width: 450px;
}
@media (max-width: 991px) {
  .sign-up .text {
    width: 350px;
  }
}
@media (max-width: 767px) {
  .sign-up .text {
    width: 100%;
    margin-bottom: 15px;
  }
}
.sign-up .text h1 {
  font-size: 25px;
}
.sign-up .text p {
  font-size: 15px;
  line-height: 1.6;
}
.sign-up .text p span {
  font-weight: bold;
  color: gold;
}
.sign-up form {
  width: 400px;
  display: flex;
}
@media (max-width: 991px) {
  .sign-up form {
    width: 300px;
  }
}
.sign-up form input:first-child {
  width: 80%;
  padding: 15px;
  border-radius: 6px 0 0 6px;
  border: none;
}
:focus {
  outline: none;
}
.sign-up form input:last-child {
  border: none;
  background-color: rgb(92, 207, 81);
  flex: 1;
  color: var(--white-color);
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}
/* End Sign Up  */

/* Start Footer  */
.footer {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
.footer .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
}
@media (max-width: 767px) {
  .footer .container .content {
    text-align: center;
  }
}
.footer .box:first-child p {
  margin-bottom: 15px;
}
.footer .box:first-child .follow-us {
  display: flex;
}
@media (max-width: 767px) {
  .footer .box:first-child .follow-us {
    display: inline-flex;
  }
}
.footer .box:first-child .follow-us li {
  margin-right: 15px;
}
.footer .box:first-child .follow-us svg {
  color: var(--dark-color);
  font-size: 22px;
  transition: var(--main-transition);
}
.footer .box:first-child .follow-us a:hover svg {
  transform: rotate(1turn);
  color: var(--red-color);
}
.footer .box:nth-child(2) ul li,
.footer .box:nth-child(3) ul li {
  margin-bottom: 20px;
}
.footer .box:nth-child(2) ul li a,
.footer .box:nth-child(3) ul li a {
  transition: var(--main-transition);
  color: var(--dark-color);
}
.footer .box:nth-child(2) ul li a:hover,
.footer .box:nth-child(3) ul li a:hover {
  color: var(--red-color);
  font-size: 25px;
}
.footer .box:last-child p:not(:first-child) {
  color: var(--gray-color);
  margin-bottom: 15px;
}
.footer .box:last-child img {
  cursor: pointer;
  transition: var(--main-transition);
}
.footer .box:last-child img:hover {
  transform: scale(1.1) rotate(6deg);
}
.footer .copy-right {
  margin-top: 50px;
  text-align: center;
}
.footer .copy-right svg {
  color: red;
}
/* End Footer  */

/* Start Shop Page  */
.shop-banner-top {
  background-image: url(../img/banner/b1.jpg);
  width: 100%;
  height: 250px;
  background-size: cover;
}
.shop-banner-top .container {
  height: 100%;
}
.shop-banner-top .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white-color);
}
.shop-banner-top .content h1 {
  margin: 0 0 15px;
}
.pagination {
  margin-bottom: 30px;
}
.pagination .container {
  text-align: center;
}
.pagination a {
  display: inline-block;
  color: var(--white-color);
  padding: 10px 20px;
  margin-right: 10px;
  background-color: rgb(52, 182, 84);
  font-size: 22px;
  cursor: pointer;
  transition: var(--main-transition);
}
.pagination a:hover,
.pagination a.active {
  transform: scale(1.1);
  background-color: rgb(27, 173, 64);
}
/* End Shop Page  */

/* Start Product Deatils  */
.product-details {
  min-height: calc(100vh - 75px);
}
.product-details .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-height: 100%;
}
@media (max-width: 767px) {
  .product-details .container {
    flex-direction: column;
  }
}
.product-details .product-image-details {
  width: 48%;
  height: 100%;
}
@media (max-width: 767px) {
  .product-details .product-image-details {
    width: 100%;
  }
}
.product-details .product-image-details > img {
  width: 100%;
  height: 425px;
  transition: var(--main-transition);
  margin-bottom: 10px;
}
.product-details .product-image-details .small-imgs-container {
  width: 100%;
  display: flex;
  align-items: center;
}
.product-details
  .product-image-details
  .small-imgs-container
  .small-image:not(:last-child) {
  margin-right: 10px;
}
.product-image-details .small-imgs-container img {
  width: 100%;
  cursor: pointer;
  transition: var(--main-transition);
}
.product-details .small-imgs-container .small-image:hover img {
  transform: scale(1.1) rotate(6deg);
}
.product-details .product-image-info {
  width: 48%;
}
@media (max-width: 767px) {
  .product-details .product-image-info {
    width: 100%;
  }
}
.product-details .product-image-info span {
  display: block;
  margin-top: 20px;
  font-size: 17px;
  font-weight: bold;
}
.product-details .product-image-info select {
  display: block;
  margin: 20px 0;
  padding: 7px;
  color: var(--dark-color);
  font-weight: bold;
}
.product-details .product-image-info input {
  display: inline-block;
  width: 50px;
  height: 30px;
  text-align: center;
  margin-right: 20px;
}
.product-details .product-image-info button {
  padding: 10px 20px;
  border: none;
  background-color: #3f8736;
  color: var(--white-color);
  font-weight: bold;
  cursor: pointer;
  transition: var(--main-transition);
  border-radius: 6px;
}
.product-details .product-image-info button:hover {
  transform: scale(1.1);
}
.product-details .product-image-info .info {
  margin-top: 20px;
}
.product-details .product-image-info .info p {
  margin-top: 20px;
  line-height: 1.7;
  color: var(--gray-color);
  margin-bottom: 20px;
}
/* End Product Deatils  */

/* Start Animation */
@keyframes cart {
  0%,
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(5px) scale(1.1);
  }
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateY(-5px) scale(1.1);
  }
}
/* End Animation */
